<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>BindResult Thymeleaf</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}">
	<script type="text/javascript" src="/js/main.js" th:src="@{/js/main.js}"></script>
</head>

<body>
	<form th:action="@{/bindresult}" th:object="${validBean}" method="post">
		<input type="text" th:field="*{name}" value="vesus">
		<input type="submit" value="submit"/>
	</form>
</body>
</html>