<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Hello Thymeleaf</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}">
	<script type="text/javascript" src="/js/main.js" th:src="@{/js/main.js}"></script>
</head>
<body>
	<div>
		<span>Message (i18n) expressions</span>
		<span th:text="${user.name}">無名稱</span>
		<span th:text="${user.age}">無年紀</span>
	</div>
	
	<div>
		<span>標準變量表達式</span>
		<span th:text="${user.name}">無名稱</span>
		<span th:text="${user.age}">無年紀</span>
	</div>
	
	<div th:object="${user}">
		<span>選擇變量表達式</span>
		<span th:text="*{name}">無資料名稱</span>
		<span th:text="*{age}">無資料年紀</span>
	</div>
	
	<div>
		<span>url表達式</span>
		<span>
			<a href='aaa.html' th:href="@{|http://zzz?name=${user.name}&aaa=${user.age}|}">info</a>
			<a th:href="@{|/user/info?bbb=${user.name}&aaa=${user.age}|}">info1</a>
			<a th:href="@{|user/info?bbb=${user.name}&aaa=${user.age}|}">info2</a>
		</span>
	</div>
	
	<div>
		<span>each表達式</span>
		<div th:each="u,iterStat:${userList}">
			<span th:text="${iterStat.index}">x</span>
			<span th:text="${u.name}">x</span>
			<span th:text="${u.age}">x</span>
		</div>
	</div>
	
	<div>
		<span>each表達式-默認屬性，變數加上Stat；index由0開始、count由1開始</span>
		<div th:each="u:${userList}">
			<span th:text="${uStat.count}">x</span>
			<span th:text="${uStat.odd}">x</span>
			<span th:text="${u.name}">x</span>
			<span th:text="${u.age}">x</span>
		</div>
	</div>
	
	<div>
		<span>each表達式-Map</span>
		<div th:each="u : ${userMap}">
			<span th:text="${u.key}">x</span>
			<span th:text="${u.value}">x</span>
		</div>
	</div>
	
	<div>
		<span>each表達式-Array</span>
		<div th:each="u : ${userArr}">
			<span th:text="${u.name}">x</span>
			<span th:text="${u.age}">x</span>
		</div>
	</div>
	
	<span>Session inline</span>
	<div th:inline="text">
		[[${session.id}]]
	</div>
	
	<!-- 
	THYMELEAF PAGE: <p th:text="${name}">查不到資料</p>
	
	<!-- 
	<div>
		<span>標準變量表達式</span>
		<span th:text="${user.name}">無資料名稱</span>
		<span th:text="${user.age}">無資料年紀</span>
	</div>
	
	<div th:object="${user}">
		<span>選擇變量表達式</span>
		<span th:text="*{name}">無資料名稱</span>
		<span th:text="*{age}">無資料年紀</span>
	</div>
	 -->
	
	<!-- 疊代變量 
	<div th:each="item : ${userList}">
		<span th:text="${itemStat.index}">key</span>
		<span th:text="${item.name}">無資料名稱</span>
		<span th:text="${item.age}">無資料年紀</span>
	</div>
	
	<div th:each="item : ${userMap}">
		<span th:text="${item.key}">無資料名稱</span>
		<span th:text="${item.value}">無資料年紀</span>
	</div>
	
	<div th:each="item : ${userArr}">
		<span th:text="${item}">無資料</span>
	</div>
	
	<div th:if="${sex} == '1'">
		<span>女</span>
	</div>
	
	<div th:if="${sex} == '2'">
		<span>女</span>
	</div>
	
	<br>
	
	<div th:switch="${sex}">
		<span th:case="1">s06</span>
		<span th:case="2">sm3</span>
		<span th:case="*">none</span>
	</div>
	
	<input type="text" value="123546" th:value="${user.name}" th:text="${user.age}">
	-->
</body>
</html>